<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135590639085-s6sr8vfd2ftekls3ifeus942ct8cftu3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135590639085-s6sr8vfd2ftekls3ifeus942ct8cftu3</string>
	<key>API_KEY</key>
	<string>AIzaSyBmClCkDZrxi8Q_dQKgFm-4hGSsD-PIRO4</string>
	<key>GCM_SENDER_ID</key>
	<string>135590639085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>fir-app-aee08</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-aee08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135590639085:ios:8154362d3d1cd5d832e3e4</string>
	<key>DATABASE_URL</key>
	<string>https://fir-app-aee08-default-rtdb.firebaseio.com</string>
</dict>
</plist>